# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\SushiPrograms\discord-music-player\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
